.navLink {
    text-decoration: none;
}

.navLinkActive {
    font-weight: 600;
    text-decoration: none;
    text-shadow: 2px 2px #e1ccff;
}

.chapter {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chapter:hover {
    text-shadow: 2px 2px #e1ccff;
}

.emoji {
    font-size: 24px;
}
