.chapter {
  background-color: #fff;
  border: #bbbbbb solid 2px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-shadow: 3px 3px #eeeeee;
  text-align: start;
  cursor: pointer;
}

.chapter:hover {
  text-shadow: 2px 2px #eadff9;
  box-shadow: 3px 3px #e1ccffbb;
}

.chapter:focus {
  outline: 0;
}

.chapterSelected {
  font-weight: 600;
  border-color: #000000;
  box-shadow: 3px 3px #00000033;
}
