.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.master {
  position: relative;
  padding: 10px;
  border-right: 2px solid #000;
  overflow-y: scroll;
}

.master .expandCollapseButton {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.detail {
  flex: 1;
  padding: 24px;
  position: relative;
  overflow: scroll;
}
