div {
  box-sizing: border-box;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.master {
  padding: 10px;
  border-right: #bbbbbb solid 2px;
  overflow-y: scroll;
}

.masterExpandContainer {
  position: absolute;
  left: 0;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}

.masterExpandButton {
  transform: translate(50%, 0);
  pointer-events: all;
}

.detail {
  flex: 1;
  padding: 24px;
  position: relative;
  overflow: scroll;
}
