.container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.master {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #000;
}

.masterTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 8px;
    border-bottom: 1px solid var(--divider-color);
}

.titleLink {
    flex: 1;
    text-decoration: none;
    color: black;
}

.tableOfContents {
    position: relative;
    overflow-y: auto;
    padding: 10px;
    flex: 1;
}

.detail {
    flex: 1;
    position: relative;
    overflow: auto;
}
