.section {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #00000022;
}

.section:hover {
  text-shadow: 2px 2px #e1ccff;
}

.sectionContent {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-left: 1px solid #00000022;
}
