.section {
  padding-top: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.section:hover {
  text-shadow: 2px 2px #eadff9;
}

.sectionButton {
  margin-right: 5px;
}

.sectionContent {
  padding-left: 10px;
}
