.button {
    background-color: white;
    padding: 10px 20px;
    border: 2px solid #bbbbbb;
    box-shadow: var(--box-shadow);
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

.button:hover {
    box-shadow: var(--active-box-shadow);
    text-shadow: var(--active-text-shadow);
}

.button:focus {
    outline: none;
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

.button:disabled {
    pointer-events: none;
    box-shadow: var(--disabled-box-shadow);
}
