.node {
    --border-color: #0004;

    flex: 1;
    width: 100%;
    height: 40px;
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 2px 2px #0006;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: default;
    user-select: none;
}

.line {
    position: absolute;
    top: 100%;
    height: 50%;
    width: 2px;
    background-color: var(--border-color);
}

.children {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(150%);
    display: flex;
    gap: 3%;
}
