.container {
    position: relative;
    display: inline-block;
}

.rendersCounter {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    font-size: 10px;
    color: white;
    background-color: #0008;
    border-radius: 4px;
    animation: blink 0.3s ease-out;
}

@keyframes blink {
    0% {
        background-color: #000;
    }

    100% {
        background-color: #0008;
    }
}
