.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 16px;
    border-bottom: 1px solid var(--divider-color);
}

.title {
    display: flex;
    align-items: center;
}

.content {
    padding: 16px;
    flex: 1;
    position: relative;
}
