.root {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #00000044;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 5px 5px 0px 0px #00000044;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.message {
  text-align: center;
  font-size: 20px;
  padding: 40px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
